@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic);

body 
{
   font-family: 'Alegreya Sans', sans-serif;
   text-align:justify;

  /*
   * font-style: italic;*/
}

.center /*Temporary for site construction*/
{
	text-align:center;
}

.top-header
{
  border-bottom: 1px solid gray;

  text-shadow: none;
/*z-index: 10;
  */
position: fixed;
top: 0;
width: 100%;
left: 0;
right: 0;

background-color: #fff;
box-shadow: 0 5px 10px rgba(0,0,0,0.1);
/*  padding: .2%;*/

}

a
{
 -webkit-transition: background 0.5s ease;
-moz-transition: background 0.5s ease;
-ms-transition: background 0.5s ease;
-o-transition: background 0.5s ease;
transition: background 0.5s ease;
}


#navi a 
{ 
  /*display:block; */
  text-transform:uppercase; /*Makes text uppercase*/
  color: black;  /*Makes text color black*/
  text-decoration:none; /*Removes link underlines*/
  font-weight: 700; /*Works because 700 was specifically @imported*/
  /*font-weight:bold;*/
  padding: 1em;
  float:right; 
}


#navi a.logo
{
	text-transform: none;
    float:left; 
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
	font-size: 1.5rem;
	padding-left: 1em;
	padding-top: .4em;
	padding-bottom: 0;
}

#navi a:hover
{
  background-color: #999999;
  color: white;  
}


#navi a.logo:hover
{
	background-color: white;
	color: black;
}



/*
#navi a:active
{
  box-shadow:inset 0 0 10px #000000; 
}
*/

#navi .current
{
	    background-color: #999999;
color: white;  
  box-shadow:inset 0 0 10px #000000; 
}


.all-sections
{
font-size: 1.5rem;
padding: 2em 0.5em;
width: 65%;
margin: 5% auto;
  /*position: relative;*/
  
}

 /*
header[role="banner"]
{
 border-bottom-style:dotted;
  
    
}
*/

.container
{
  /* background-color: pink; */

}






/*
@media screen and (max-width: 55em)
.top-header {
position: relative;
box-shadow: none;
padding: 1em 0;
text-align: center;
}
*/

.top-header.inverted 
{
  background-color: #191919;
  
}

.top-header.inverted #navi a 
{
   color: white; 
}

.top-header.inverted #navi a:hover
{
    background-color: #999999;
  color: black; 
}


.all-sections div.section-splitter
{
    border-bottom: 1px solid gray;
}

.all-sections div.project-splitter
{
    border-top: 1px dotted gray;
    margin-top: 4%;
}


/*
.all-sections div.box
{
  
    border: 1px solid gray;
   background-color: #fff;
  
  -webkit-box-shadow: 3px 3px 3px 3px #7A7A7A;
box-shadow: 3px 3px 3px 3px #7A7A7A;
  

}
*/

.project-splitter h3
{
	margin-top: 1%;
	margin-bottom: 1%;
}

.project-splitter figure
{
	margin: 0px;
}

.project-splitter nav
{
	margin-top: 2%;
}


hr
{
opacity: 0; /*Hide the divider between project sections */
}



figure {
		
-moz-box-shadow: 0px 0px 5px #dfdfdf;
-o-box-shadow: 0px 0px 5px #dfdfdf;
-webkit-box-shadow: 0px 0px 5px #dfdfdf;
box-shadow: 0px 0px 5px #dfdfdf;
padding: 4px;
float: left;
border: 1px solid #d6d6d6;
/*margin-bottom: 20px;
 position: relative;
 */
margin-left: 0px;  /*To push the pic to the far left. Overrides figure element's auto margins*/


}

figure img { float:left; }

figure img.right-pad { padding-right: 2%; /* Pushes text a bit away from picture*/ }

a.button
{
	/*font-weight: 700;
	font-size: 1rem;*/
	
	padding: 0.5em;
	text-decoration:none; 
	color: white; 
	background-color: black;
	margin-right: 2%;
	

}


a.button:hover { background-color: #48d3ff; }

#footer {
	position:fixed;
	//left: 0px;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid black;
	background-color: #FFFFFF;
	//text-indent: 10px;
	
}

